<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dom tchotchoro - Ecommerce</title>
  <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!-- Template CSS Style link -->
  <link rel="stylesheet" href="/assets/css/style-starter.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

</head>
<body>
    <div th:replace="~{header :: header}">...</div>

    <!-- inner banner -->
    <section class="inner-banner">
      <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
          <h4 class="inner-text-title pt-5">Crie sua conta</h4>
        </div>
      </div>
    </section>
    <!-- //inner banner -->

    <!-- contact block -->
    <section class="w3l-contact" id="register">
      <div class="container py-md-5 py-4">
        <div class="row contact-block centralize-block">
          <div class="col-md-7 contact-center">
            <ul>
              <li class="alert alert-danger" role="alert"
                  th:each="error : ${#fields.errors('user.*')}" th:text="${error}" />
            </ul>
            <form th:action="@{/saveUser}" method="post" class="signin-form" th:object="${user}">
              <div class="input-grids">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" th:field="*{name}" id="name" placeholder="Nome completo*" class="contact-input" />
                  </div>
                  <div class="col-sm-6">
                    <input type="email" th:field="*{email}" id="email" placeholder="E-mail*" class="contact-input" />
                  </div>
                <div class="col-sm-6">
                    <input type="text" th:field="*{mobileNum}" id="mobileNum" placeholder="Telefone celular*" class="contact-input" />
                </div>
                <div class="col-sm-6">
                    <input type="text" id="cpf" th:field="*{cpf}" placeholder="Cpf*" class="contact-input" />
                </div>
                <div class="col-sm-6">
                    <input type="password" th:field="*{password}" id="password" placeholder="Senha*" class="contact-input" />
                </div>
                <div class="col-sm-6">
                    <input type="password" th:field="*{retypePassword}" id="retypePassword" placeholder="Confirme sua senha*" class="contact-input" />
                </div>
                </div>
              </div>
              <div class="">
                <button class="btn btn-style btn-style-3">Criar conta</button>
                <p>Ja possui cadastro ? <a th:href="@{/login}">logue</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script>
        $(document).ready(function() {
            $('#mobileNum').mask('(99) 99999-9999');
            $("#cpf").mask("000.000.000-00");
        });
    </script>
</body>
</html>