<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dom tchotchoro - Ecommerce</title>
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/header.css">
</head>
<body>
<!-- header -->
    <nav th:fragment="sidebar">
        <div class="sidebar-top">
              <span class="shrink-btn">
                <i class=''></i>
                <i class="fa fa-bars" aria-hidden="true"></i>
              </span>
            <a th:href="@{/home}"><img src="assets/images/logo.svg" class="logo" alt="" sec:authorize="hasRole('ROLE_ADMIN')"></a>
        </div>

        <div class="sidebar-links">
            <ul>
                <div class="active-tab"></div>
                <li class="tooltip-element" data-tooltip="0" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/dashboard}" class="active" data-active="0">
                        <div class="icon">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <span class="link hide"></i>Dashboard</span>
                    </a>
                </li>
                <li class="tooltip-element" data-tooltip="1" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#" data-active="1">
                        <div class="icon">
                            <i class="fa fa-shopping-basket"></i>
                        </div>
                        <span class="link hide">Produtos</span>
                    </a>
                </li>
                <li class="tooltip-element" data-tooltip="2" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/employee}" data-active="2">
                        <div class="icon">
                            <i class="fa-solid fa-user-tie"></i>
                        </div>
                        <span class="link hide">Funcionarios</span>
                    </a>
                </li>
                <li class="tooltip-element" data-tooltip="3" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/displayMessages}" data-active="3">
                        <div class="icon">
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <span class="link hide">Mensagens</span>
                    </a>
                </li>
                <li class="tooltip-element" data-tooltip="3" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/categories}" data-active="3">
                        <div class="icon">
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <span class="link hide">Category</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sidebar-footer" sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#" class="account tooltip-element" data-tooltip="0">
                <i class='bx bx-user'></i>
            </a>
            <div class="admin-user tooltip-element" data-tooltip="1">
                <div class="admin-profile hide">
                    <i class="fa fa-cog"></i>
                    <div class="admin-info">
                        <a th:href="@{/displayProfile}">
                            <h3 th:text="${username}"></h3>
                        </a>
                    </div>
                </div>
                <a href="#" class="log-out">
                    <i class='bx bx-log-out'></i>
                </a>
            </div>
        </div>
    </nav>

    <!-- Js scripts -->
    <script src="assets/js/app.js"></script>
    <!-- //Js scripts -->
</body>
</html>